<div class="login-container">
    <div class="card login-card">
      <h2>Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input type="email" id="email" formControlName="email" required placeholder="Enter Email" class="input">
        </div>
        <div class="form-group">
          <input type="password" id="password" formControlName="password" required placeholder="Enter Password" class="input">
        </div>
        <button class="btn btn-submit" type="submit" [disabled]="!loginForm.valid">Login</button>
      </form>
      <p class="register-link">Don't have an account? <a routerLink="/register">Register</a></p>
    </div>
  </div>